.cards_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.card_container{
    margin: 10px;
    border-radius: 1px;
    border-color: black;
    margin-bottom: 100px;
}